body {
    font-family: monospace;
    color: #839496;
}
hr {
    border: 1px solid;
    color: #839496;
}
a.arrow-toggle {
    cursor: pointer;
}


.attribute-list {
    list-style-type: none;
    margin-bottom: 0;
}
.function-li {
    text-indent: -2ch;
    margin-left: 2ch;
}


.arrow {
    color: #839496;
}
.unique {
    color: #6c71c4;
}
.access-modifier {
    color: #657b83;
}
.type {
    color: #859900;
}
.attribute {
    color: #93a1a1;
}
.function {
    color: #268bd2;
}
.docs {
    color: #586e75;
}
.constant {
    color: #cb4b16;
}
.index {
    color: #d33682;
}
.key {
    color: #2aa198;
}
.string {
    color: #2aa198;
}
.bool {
    color: #b58900;
}
.number {
    color: #d33682;
}
.none {
    color: #b58900;
}
.empty {
    color: #dc322f;
}

@media (prefers-color-scheme: light)
{

    body {
        background-color: #fdf6e3;
    }
}

@media (prefers-color-scheme: dark)
{

    body {
        background-color: #002b36;
    }
}
