###
 # Package index source declarations.
 # Where to get python packages from.
 ##
[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

###
 # Python version declaration.
 ##
[requires]
python_version = "3.9"

###
 # General packages, installed via `pipenv sync`.
 ##
[packages]
django = "*"

###
 # Development and testing packages, installed via `pipenv sync --dev`.
 ##
[dev-packages]
# Image handling dependencies.
pillow = "*"                    # Required to make sure image field dumping works correctly.
# Syntax-checking dependencies.
autopep8 = "*"                  # Auto-formats files for pep8 recommendations. See `setup.cfg` for our exceptions.
black="*"                       # "Uncompromising" Python code formatter.
flake8 = "*"                    # Wrapper for autopep8 that allows extra configuration, etc.
pylint = "*"                    # Linter for Python syntax. Must be run in console via "pylint" command.
pylint-django = "*"             # Improves code analysis for Django projects.
pylint-plugin-utils = "*"       # Additional pylint functionality for things like Django and Celery.

# Testing/Pytest dependencies.
coverage = "*"                  # Outputs testing coverage data.
pytest = "*"                    # Base Pytest package. Current preferred testing method.
pytest-django = "*"             # Additional Pytest logic for Django support.
pytest-xdist = "*"              # Additional Pytest features, such as multithreading and looping.

# Docs build dependencies.
esbonio="*"                     # A "Language Server" to help build docs.
sphinx = "*"                    # Core package to build project docs.
sphinx-autobuild = "*"          # Additional Sphinx logic to autobuild from project code documentation.
sphinx-rtd-theme = "*"          # Additional Sphinx logic for building with standard ReadTheDocs theme.

# Docs syntax-checking dependencies.
doc8="*"                        # Checks reStructuredText (aka Sphinx) syntax.
rstcheck = "~=3.5.0"            # Checks reStructuredText (aka Sphinx) syntax.

# Project pypi dependencies.
build = "*"                     # For building packages according to PEP 517 standards (for PyPi deployment).
pip-tools = "*"                 # Management of Documentation Package dependencies and building.
twine = "*"                     # For pushing/publishing packages.
