[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"

[dev-packages]
autopep8="*"
coverage="*"
pylint="*"
pylint-django="*"
recommonmark="*"
rstcheck="*"
sphinx="*"
sphinx-autobuild="*"
sphinx_rtd_theme="*"

[requires]
python_version = "3.8"
